/* RESET, WIREFRAME & IMPORT FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.frame {
  border: 1px solid red;
}

/* STYLE */
body {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: hsl(204, 43%, 93%);
}

.card {
  height: 480px;
  width: 640px;
  display: grid;
  grid-template-columns: 320px 320px;
  grid-template-rows: 240px 240px;
  grid-template-areas:
    "top top"
    "bottomL bottomR";
  border-radius: 10px;
}

.top,
.bottomLeft,
.bottomRight {
  height: 240px;
  width: 640px;
}
.top {
  grid-area: top;
  grid-row: span;
  border-radius: 10px 10px 0 0;
  background-color: white;
}

.bottomL {
  grid-area: bottomL;
  border-radius: 0 0 0 10px;
  background-color: hsl(179, 62%, 43%);
}

.bottomR {
  grid-area: bottomR;
  border-radius: 0 0 10px 0;
  background-color: hsla(179, 62%, 43%, 60%);
}

.bottomL,
.bottomR {
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

button {
  text-decoration: none;
  width: 200px;
  height: 40px;
  background-color: hsl(71, 73%, 54%);
  border: none;
  border-radius: 7px;
}
