/* RESET, WIREFRAME & IMPORT FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.frame {
  border: 1px solid red;
}

a:link {
  text-decoration: none;
}

button {
  text-decoration: none;
}
/* STYLE */
body {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card {
  height: 480px;
  width: 640px;
  display: grid;
  grid-template-columns: 320px 320px;
  grid-template-rows: 240px 240px;
  grid-template-areas:
    "top top"
    "bottomL bottomR";
}

.top,
.bottomLeft,
.bottomRight {
  height: 240px;
  width: 640px;
}
.top {
  grid-area: top;
  grid-row: span;
}

.bottomR {
  grid-area: bottomR;
}
.bottomL {
  grid-area: bottomL;
}
